* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --gray: #23272e;
  --white: #ffffff;
  --white1: #cccccc;
  --orange: #f05123;
  --blue: #03e9f4;
  --blue1: #93bfcf;
  --pink: #fbc5c5;
  --green: #00ff55;
  --red: #e96479;
  --orange1: #f2726a;
}
html {
  font-family: "Courier New", Courier, monospace;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  width: 80vw;
  height: 90vh;
  background-color: var(--white);
}
#navbar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  border-bottom: 1px solid var(--white1);
}
#nabar .input {
}
#navbar .input input {
  width: 15rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 0 1rem;
  border: 1px solid var(--blue1);
}
#navbar img {
  height: 3rem;
  margin-left: 5rem;
}
#navbar .user a {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}
#navbar .user button {
  padding: 0.3rem;
}
#main #content {
  display: flex;
  height: calc(90vh - 3rem);
}
#status {
  width: 20rem;
  height: 100%;
  background-color: var(--white1);
  padding: 1rem;
  position: relative;
}
#status .icon {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--white);
  width: 10rem;
  border-radius: 1rem;
  padding: 1rem;
}
#note {
  position: relative;
  display: none;
  width: calc(100% - 20rem);
  height: 100%;
  background-color: var(--white);
}
.icon:hover {
  cursor: pointer;
  transform: scale(0.9);
  transition: linear 0.3s;
}
.icon:hover i {
  animation: anim 2s infinite;
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#note .head {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.head .delete,
.head .create {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--white1);
  border-radius: 5px;
  height: 2rem;
  padding: 0 1rem;
}
.head .delete i,
.head .create i {
  padding: 0 0.5rem;
}
#note .text {
  margin: auto;
  width: 70rem;
  height: 5rem;
  padding: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}
#note .comment{
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 3rem;
}
#note .a{
  margin-left: 2rem;
}
#note .comment h2{
  line-height: 3rem;
  font-size: .8rem;
  padding: 0 1rem;
}
#content #status h1 {
  font-size: 1rem;
}
#navbar .user {
  display: flex;
  align-items: center;
}
#navbar .user h4 {
  color: var(--orange1);
  padding: 1rem;
}
#content #status .notes .div:hover {
  cursor: pointer;
}
.myNewDiv{
  cursor: pointer;
  margin: auto;
  width: 98%;
  height: 8rem;
  background-color: var(--pink);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: .5rem;
}
.myNewDiv .tittle{
  font-weight: bold;
  font-size: 1.1rem;
}
.myNewDiv .content{
  font-size: .8rem;
}
h3{
  padding: .5rem;
  margin-bottom: .5rem;
}